{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> {{ title }} </h1>
    {% for film in film %}
    <ul>

        <iframe width="640" height="480" src={{ film.iframepath}} scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
    </ul>
    {% endfor %}
</div>
{% endblock %}
