{%  extends "base.html.twig" %}

{% block title %} Un Nouveau Monde {% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-4"> Bienvenue ! </h1>
        <p> Dans ce nouveau monde, la lumière naît dans le coeur des hommes et des femmes et sert de projecteurs face à l'écran. </p>
        <p> Venez découvrir les productions de nos talentueux réalisateurs ! </p>
    </div>
    <br>
    <div class="container" style="width: 30%">
        <div class="card">
            <img src="img/NicolasDesole.jpg" class="card-img-top" alt="Réalisateur 1">
            <div class="card-body">
                <h5 class="card-title">Réalisateur 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <img src="img/MarieBailleule.jpg" class="card-img-top" alt="Réalisateur 2">
            <div class="card-body">
                <h5 class="card-title">Réalisateur 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <img src="img/NicolasDesole.jpg" class="card-img-top" alt="Réalisateur 3">
            <div class="card-body">
                <h5 class="card-title">Réalisateur 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <img src="img/MarieBailleule.jpg" class="card-img-top" alt="Réalisateur 4">
            <div class="card-body">
                <h5 class="card-title">Réalisateur 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <br>

{% endblock %}