
{%  extends "base.html.twig" %}
{% block title %} UnNouveauMonde- Acceuil {% endblock %}
{% block body %}
    <div class = "container mt-4" >
        <div class="jumbotron">
            <h2> Nos réalisateurs : </h2>
            <figure>
                <img src="{{ asset('img/Coline.jpeg') }}" alt="realisateur1" width="215">
                <figcaption> Coline DURTSCH </figcaption>

            </figure>

            <figure>
                <img src="{{ asset('img/GuillaumeRieu.jpg') }}" alt="realisateur1" width="170">
                <figcaption> Guillaume RIEU </figcaption>
            </figure>

        </div>
    </div>

{% endblock %}
