{%  extends "base.html.twig" %}

{% block title %} Un Nouveau Monde {% endblock %}

{% block body %}

    <div class="container" style="width: 30%">
        <h1 class="mt-4 text-center"> Nos partenaires </h1>
        <div class="col">
            <div class="card">
                <img src="{{ asset('img/lycees_partenaires/lycee_henriIV.jpg') }}" class="img-fluid rounded" alt="Lycée Henri IV">
                <div class="card-body">
                    <h5 class="card-title">Lycée Henri IV</h5>
                    <p class="card-text">Une description ?</p>
                </div>
            </div>
        </div>
    <br>
        <div class="col">
            <div class="card">
                <img src="{{ asset('img/lycees_partenaires/lycee_simoneveil.png') }}" class="img-fluid rounded" alt="Lycée Simone Veil">
                <div class="card-body">
                    <h5 class="card-title">Lycée Simone Veil</h5>
                    <p class="card-text">Une description ?</p>
                </div>
            </div>
        </div>
    <br>
        <div class="col">
            <div class="card">
                <img src="{{ asset('img/lycees_partenaires/lycee_vieljeux.png') }}" class="img-fluid rounded" alt="Lycée Vieiljeux">
                <div class="card-body">
                    <h5 class="card-title">Lycée Vieljeux</h5>
                    <p class="card-text">Une description ?</p>
                </div>
            </div>
        </div>
    <br>
        <div class="col">
            <div class="card">
                <img src="{{ asset('img/lycees_partenaires/lycee_des_metiers.png') }}" class="img-fluid rounded" alt="Lycée des métiers">
                <div class="card-body">
                    <h5 class="card-title">Lycée des métiers</h5>
                    <p class="card-text">Une description ?</p>
                </div>
            </div>
        </div>
    <br>
    </div>

{% endblock %}