{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        <h1>Catalogue</h1>
        <ul>
            {% for afilm in film %}
                <li>{{ afilm.name|e }}</li>
                <li><img src="{{ afilm.imagePath|e }}" alt=""></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
