{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <style>
        .example-wrapper { padding: 20px 20px 20px 20px; max-width: 100%; width: 100%; font: 18px/1.5 sans-serif; background-color: #f0ebeb;}
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Catalogue de film d'animation</h1>
        <div style="display: flex;flex-wrap: nowrap;">
        <input class="form-control me-sm-2" type="search" placeholder="Search" style="width:85%">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="width:15%; background-color: darkred;">Search</button>
        </div>
        <ul>
            <div style="display: flex;flex-wrap: nowrap;">
            {% for film in films %}
                <div class="card" style="width: 18rem; height: 20rem; margin: 20px 20px 20px 20px; color:white; background-color: #3c0e0e">
                    <img class="card-img-top" src="{{ film.imagePath|e }}" alt="" style="height: 50%;">
                    <div class="card-body" style="height:50%;">
                        <h5 class="card-title" style="height:30%; font-weight: bold;font-size: 25px;text-align: center;">{{ film.name|e }}</h5>
                        <p class="card-text" style="height:20%;">Note moyenne : 5</p>
                        <a href="#" class="btn btn-primary" style="height:30%;color:white; background-color:darkred;text-align: center;">Go watch</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </ul>
    </div>
{% endblock %}
